.hidden {
    display: none;
    opacity: 0;
}
.showing {
    display: block;
    opacity: 1;
}

.change-cat img {
    width: 500px;
    height: 363px;
}

.change-mood {
    padding: 20px;
    background-color: rgb(114, 61, 163);
    color: rgb(255, 255, 255);
}

img {
    width: 350px;
    height: 400px;
    filter: none;
}