h1 {
    font-family: "Kaushan Script", cursive;
    text-align: center;
    font-size: 3em;
}

body {
}

section {
    margin: auto;
    padding: 20px;
    background-color: rgb(105, 6, 6);
    border-radius: 20px;
    width: 500px;
    color: white;    
}

/** form spacing **/
label, input {
        display: block;  
        width: 50%;
        margin: 0 auto;
    }

input {
    margin-bottom: 20px;
}

fieldset input, fieldset label {
    display: inline;
}

fieldset label {
    margin-bottom: 20px;
}